.u-noscroll {
  margin: 0;
  height: 100%;
  overflow: hidden;
}

.u-white {
  color: white;
}

.u-black {
  color: black;
}

.u-center {
  text-align: center;
}

.u-bold {
  font-weight: $bold-font;
}