$primary-color: #fff;
$secondary-color: cadetblue;
$main-font: 'Work Sans', sans-serif;
$light-font: 400;
$bold-font: 600;
$nav-item-padding: 2rem;
$nav-height: 75px;
$nav-bgc-color: #ffd5e5;

$screen-xs-max: 640px;
$screen-sm-max: 768px;
$screen-md-max: 1025px;
$screen-lg-max: 1200px;