@import url('https://fonts.googleapis.com/css2?family=Work+Sans:wght@400;600&display=swap');

/***** reset *****/
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Work Sans', sans-serif;
  display: flex;
  flex-direction: column;
  min-height: 200vh;
  align-items: center;
}

a {
  text-decoration: none;
  color: white;
}

p {
  line-height: 1.4em;
}

ul {
  list-style: none;
}

input:focus,
textarea:focus {
  outline: none;
}

/***** common *****/
.backdrop {
  position: fixed;
  width: 100%;
  height: 100vh;
  top: 0;
  left: 0;
  background: rgba(0, 0, 0, 0.75);
  z-index: 10;
  pointer-events: none;
  display: none;
}

#backdrop.visible {
  display: block;
  pointer-events: all;
}

/***** navbar *****/
nav {
  position: fixed;
  display: flex;
  width: 100%;
  top: 0;
  left: 0;
  flex-basis: 75px;
  background: rgba(23, 23, 23, 0.9);
  align-self: stretch;
  justify-content: space-between;
  padding: 0 2%;
  z-index:100;
}

nav ul {
  display: flex;
  align-items: center;
  color: white;
  font-size: 1.2em;
}

nav li a {
  padding: 0 32px;
  color: #eee;
  transition: 0.3s;
  position: relative;
  overflow: hidden;
}

nav li a::before {
  content: '';
  display: block;
  position: absolute;
  width: 0%;
  height: 2px;
  background-color: white;
  bottom: -7px;
  left: 32px;
  transition: 0.3s;
}

nav li a:hover::before {
  width: calc(100% - 32px);
}

.active,
.search-icon:hover,
footer .left-footer a:hover {
  color: #ffd5e5;
}

.search-icon {
  padding: 0 32px;
  transition: 0.3s;
  cursor: pointer;
}

.search-box {
  position: fixed;
  top: 59px;
  width: 500px;
  right: -520px;
  transition: 0.3s;
}

.search-box.active {
  right: -220px;
}

#menu-icon {
  display: none;
}

nav div.logo {
  height: 75px;
  padding: 5px 0px;
}

nav div.logo img {
  height: 100%;
}

input {
  font-size: 1em;
  height: 32px;
  padding: 0 16px;
  border: none;
  box-shadow: inset 0px 0px 18px 0px rgba(0, 0, 0, 0.4);
}

/***** banner *****/
.banner {
  flex-basis: 100vh;
  align-self: stretch;
  background: rgba(0, 0, 0, 0.3) url('../img/main-big.jpg');
  background-attachment: fixed;
  background-position: center;
  background-size: cover;
  background-blend-mode: overlay;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: white;
}

.banner h1 {
  font-size: 3em;
  background-color: rgba(0, 0, 0, 0.5);
  padding: 5px 20px;
  border-radius: 8px;
  margin-bottom: 20px;
  box-shadow: 0 0 100px 4px rgb(0, 0, 0);
}

.banner h3 {
  font-size: 1.7em;
  background-color: rgba(0, 0, 0, 0.7);
  padding: 3px 10px;
  border-radius: 7px;
  letter-spacing: 2px;
}

/***** main *****/
main {
  display: flex;
  width: 95%;
  flex-grow:1;
  color: black;
}
/***** section *****/
section {
  flex-grow:1;
  margin-left:3%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

a.main-title {
  font-size: 2em;
  font-weight: 700;
  margin:30px 0;
  color: black;
  padding:0px 10px;
  border-left: 2px solid black;
  flex-basis: 100%;
  transition: .7s;
}

a.main-title:hover,
.description a:first-child:hover {
  padding-left:3px;
  color: cadetblue;
  border-color: cadetblue;
}

.description a {
  font-size: 1.2em;
  font-weight: 700;
  color: black;
  transition: .3s;
}

.card {
  flex-basis: 45%;
  margin-bottom:30px;
}

.card-image {
  width: 100%;
  margin-bottom: 10px;
  transition: .3s;
}

.card-image:hover {
  box-shadow: 0 10px 10px -4px #777;
}

.card-image img {
  width: 100%;
}

.btn-read-more {
  margin-top: 40px;
  display: inline-block;
  padding:10px 20px;
  border: 2px solid black;
  border-radius: 6px;
}

.btn-read-more:hover {
  border-color:  cadetblue;
  background-color: cadetblue;
  color: white;
}

/***** aside *****/
aside {
  min-width: 200px;
  display: flex;
  flex-direction: column;
  align-items:center;
  position: relative;
}

aside div.wrapper {
  position: sticky;
  top:75px;
  width: 100%;
  padding:20px 0px 20px 30px;

}

aside div.card:nth-of-type(1) {
  border-bottom: 1px solid black;
}

aside h1 {
  color:black;
  text-align: center;
  margin-bottom: 20px;
}


/***** generic-info-ABOUT_US *****/
div.wrapper-info {
  display: flex;
  flex-direction: column;
  margin-top:100px;
  align-items: center;
}

div.wrapper-info h1 {
  position: relative;
  align-self: stretch;
  margin:20px 0;
}

div.wrapper-info h1::before {
  content:'';
  position: absolute;
  margin-top:5px;
  top:100%;
  left:0;
  width: 0px;
  height:4px;
  background: linear-gradient(135deg, #03a9f4, rgba(95,158,160,0.5));;
  animation: highlighted_min .8s ease-in forwards;
}

div.wrapper-info h1::after {
  content:'';
  position: absolute;
  margin-top:10px;
  top:110%;
  left:0;
  width: 0px;
  height:4px;
  background: linear-gradient(135deg, #03a9f4, rgba(95,158,160,0.5));;
  animation: highlighted_max .8s .3s ease-in forwards;
}

.container {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  margin:20px 0;
}

.hexagon {
  position: relative;
  width: 200px;
  height: 250px;
  margin:50px 20px 0px;
}

.hexagon::before {
  content:'';
  position: absolute;
  bottom: -35px;
  width: 100%;
  height: 30px;
  background: radial-gradient(rgba(0,0,0,0.15), transparent, transparent);
  border-radius: 50%;
  transition:.5s;
}

.hexagon:hover::before {
  opacity: 0.8s;
  transform: scale(0.8);
}

.hexagon:hover .shape {
  transform: translateY(-30px);
}

.shape {
  position: absolute;
  top:0;
  left:0;
  width: 100%;
  height: 100%;
  background-color: #000;
  clip-path: polygon(0 25%, 50% 0, 100% 25%, 100% 75%, 50% 100%, 0 75%);
  transition: .5s;
  color: white;
}

.shape img {
  position:absolute;
  top:0;
  left:0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  transition: .5s;
}

.hexagon:hover .content {
  opacity:1;
}

.content {
  position: absolute;
  top:0;
  left:0;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  padding:10px;
  text-align: center;
  font-size: 12px;
  background: linear-gradient(135deg, #03a9f4, rgba(95,158,160,0.5));
  opacity:0;
  transition: .4s;
}

@keyframes highlighted_min {
  100% {
    width: 150px;
  }
}

@keyframes highlighted_max {
  100% {
    width: 250px;
  }
}


/***** footer *****/
footer {
  width: 90%;
  background-color: black;
  padding:20px 10px;
  display:flex;
}

footer h3 {
  color: white;
  margin:20px 0px;
}

footer a {
  display: block;
  padding-top:5px;
}

footer .right-footer {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  color: white;
}
footer .right-footer ul {
  display: flex;
}

footer .right-footer li {
  font-size: 3em;
  padding:10px 20px;
}

footer ul li:hover a .fa-youtube {
  color: red;
}

footer ul li:hover a .fa-facebook {
  color: #3b5998;
}

footer ul li:hover a .fa-github {
  color: #bbb;
}

footer ul li:hover a .fa-twitter {
  color: #1DA1F2;
}

footer .left-footer {
  flex-basis: 200px;
  border-right: 1px solid cadetblue;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding-left: 2%;
}

footer span {
  color:cadetblue;
}

/***** MEDIA *****/
@media (max-width: 640px) {
  section {
    flex-direction: column;
  }
  .banner h1 {
    font-size: 2.5em;
  }

  .banner h3 {
    font-size: 1.4em;
    margin: 20px;
    text-align: center;
  }
}
@media (max-width: 768px) {
  main {
    width: 99%;
    flex-direction: column;
  }
  aside {
    width: 100%;
  }
  aside div.wrapper {
    border-top:5px solid black;
    width: 70%;
    padding:20px 0;
  }
  footer {
    flex-direction: column;
    width: 100%;
  }
  footer .left-footer {
    border-bottom: 1px solid cadetblue;
    border-right: none;
    text-align: center;
  }

  footer .right-footer li{
    padding: 10px 10px;
  }
}
@media (max-width: 1024px) {
  .banner {
    background-image: url('../img/main-small.jpg');
  }

  #menu-icon {
    display: block;
    color: white;
    font-size: 2em;
    line-height: 75px;
    cursor: pointer;
    padding: 0 10px 0 20px;
  }

  div.search-icon,
  nav li a::before {
    display: none;
  }

  nav ul {
    position: fixed;
    display: none;
    top: 74px;
    left: 0;
    flex-direction: column;
    width: 100%;
    background-color: rgba(0,0,0,0.9);
    padding-bottom: 10px;
    font-size: 1.4em;
  }

  nav ul.active {
    display: block;
  }

  nav li {
    text-align: center;
  }

  nav li a {
    display: block;
    padding-top:20px;
  }

  .search-box {
    position: static;
    width: 100%;
    padding-top:20px;
  }

  nav input::placeholder {
    text-align: center;
  }

}
@media (max-width: 1200px) {
}



/* preloader */
.noscroll {
  margin: 0; height: 100%; overflow: hidden
}

.loader{
  position: fixed;
  height: 100vh;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  background: #fff;
  transition: all 0.5s;
  z-index: 10000;
}
.loader .ring{
  height: 70px;
  width: 70px;
  border: 5px solid #ddd;
  border-radius: 50%;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
}
.loader .ring:after{
  position: absolute;
  content: "";
  height: 100%;
  width: 100%;
  border-radius: 50%;
  border: 5px solid cadetblue;
  border-top-color: transparent;
  animation: rotate 1.5s linear infinite;
}
@keyframes rotate {
  100%{
    transform: rotate(360deg);
  }
}